01_contador/.vscode
01_contador/.vscode/extensions.json
01_contador/.vscode/launch.json
01_contador/.vscode/tasks.json
01_contador/node_modules
02_tareas/node_modules
02_tareas/.vscode
02_tareas/.vscode/extensions.json
02_tareas/.vscode/launch.json
02_tareas/.vscode/task
03_pokeapp/node_modules
03_pokeapp/.vscode
03_pokeapp/.vscode/extensions.json
03_pokeapp/.vscode/launch.json
03_pokeapp/.vscode/task
04_pipesapp/.vscode/extensions.json
04_pipesapp/.vscode/launch.json
04_pipesapp/.vscode/tasks.json
05_rxjs-directivas/.vscode/extensions.json
05_rxjs-directivas/.vscode/launch.json
05_rxjs-directivas/.vscode/tasks.json
09_rest_mean/node_modules/*
09_rest_mean/node_modules/.package-lock.json
09_rest_mean/node_modules/.bin/nodemon
09_rest_mean/node_modules/.bin/nodemon.cmd
09_rest_mean/node_modules/.bin/nodemon.ps1
09_rest_mean/node_modules/.bin/nodetouch
09_rest_mean/node_modules/.bin/nodetouch.cmd
09_rest_mean/node_modules/.bin/nodetouch.ps1
09_rest_mean/node_modules/.bin/nopt
09_rest_mean/node_modules/.bin/nopt.cmd
09_rest_mean/node_modules/.bin/nopt.ps1
09_rest_mean/node_modules/.bin/semver
09_rest_mean/node_modules/.bin/semver.cmd
09_rest_mean/node_modules/.bin/semver.ps1
09_rest_mean/node_modules/abbrev/abbrev.js
09_rest_mean/node_modules/abbrev/LICENSE
09_rest_mean/node_modules/abbrev/package.json
09_rest_mean/node_modules/abbrev/README.md
09_rest_mean/node_modules/anymatch/index.d.ts
09_rest_mean/node_modules/anymatch/index.js
09_rest_mean/node_modules/anymatch/LICENSE
09_rest_mean/node_modules/anymatch/package.json
09_rest_mean/node_modules/anymatch/README.md
09_rest_mean/node_modules/balanced-match/index.js
09_rest_mean/node_modules/balanced-match/LICENSE.md
09_rest_mean/node_modules/balanced-match/package.json
09_rest_mean/node_modules/balanced-match/README.md
09_rest_mean/node_modules/balanced-match/.github/FUNDING.yml
09_rest_mean/node_modules/binary-extensions/binary-extensions.json
09_rest_mean/node_modules/binary-extensions/binary-extensions.json.d.ts
09_rest_mean/node_modules/binary-extensions/index.d.ts
09_rest_mean/node_modules/binary-extensions/index.js
09_rest_mean/node_modules/binary-extensions/license
09_rest_mean/node_modules/binary-extensions/package.json
09_rest_mean/node_modules/binary-extensions/readme.md
09_rest_mean/node_modules/brace-expansion/index.js
09_rest_mean/node_modules/brace-expansion/LICENSE
09_rest_mean/node_modules/brace-expansion/package.json
09_rest_mean/node_modules/brace-expansion/README.md
09_rest_mean/node_modules/braces/CHANGELOG.md
09_rest_mean/node_modules/braces/index.js
09_rest_mean/node_modules/braces/LICENSE
09_rest_mean/node_modules/braces/package.json
09_rest_mean/node_modules/braces/README.md
09_rest_mean/node_modules/braces/lib/compile.js
09_rest_mean/node_modules/braces/lib/constants.js
09_rest_mean/node_modules/braces/lib/expand.js
09_rest_mean/node_modules/braces/lib/parse.js
09_rest_mean/node_modules/braces/lib/stringify.js
09_rest_mean/node_modules/braces/lib/utils.js
09_rest_mean/node_modules/chokidar/index.js
09_rest_mean/node_modules/chokidar/LICENSE
09_rest_mean/node_modules/chokidar/package.json
09_rest_mean/node_modules/chokidar/README.md
09_rest_mean/node_modules/chokidar/lib/constants.js
09_rest_mean/node_modules/chokidar/lib/fsevents-handler.js
09_rest_mean/node_modules/chokidar/lib/nodefs-handler.js
09_rest_mean/node_modules/chokidar/types/index.d.ts
09_rest_mean/node_modules/concat-map/.travis.yml
09_rest_mean/node_modules/concat-map/index.js
09_rest_mean/node_modules/concat-map/LICENSE
09_rest_mean/node_modules/concat-map/package.json
09_rest_mean/node_modules/concat-map/README.markdown
09_rest_mean/node_modules/concat-map/example/map.js
09_rest_mean/node_modules/concat-map/test/map.js
09_rest_mean/node_modules/debug/CHANGELOG.md
09_rest_mean/node_modules/debug/LICENSE
09_rest_mean/node_modules/debug/node.js
09_rest_mean/node_modules/debug/package.json
09_rest_mean/node_modules/debug/README.md
09_rest_mean/node_modules/debug/src/browser.js
09_rest_mean/node_modules/debug/src/common.js
09_rest_mean/node_modules/debug/src/index.js
09_rest_mean/node_modules/debug/src/node.js
09_rest_mean/node_modules/fill-range/index.js
09_rest_mean/node_modules/fill-range/LICENSE
09_rest_mean/node_modules/fill-range/package.json
09_rest_mean/node_modules/fill-range/README.md
09_rest_mean/node_modules/glob-parent/CHANGELOG.md
09_rest_mean/node_modules/glob-parent/index.js
09_rest_mean/node_modules/glob-parent/LICENSE
09_rest_mean/node_modules/glob-parent/package.json
09_rest_mean/node_modules/glob-parent/README.md
09_rest_mean/node_modules/has-flag/index.js
09_rest_mean/node_modules/has-flag/license
09_rest_mean/node_modules/has-flag/package.json
09_rest_mean/node_modules/has-flag/readme.md
09_rest_mean/node_modules/ignore-by-default/index.js
09_rest_mean/node_modules/ignore-by-default/LICENSE
09_rest_mean/node_modules/ignore-by-default/package.json
09_rest_mean/node_modules/ignore-by-default/README.md
09_rest_mean/node_modules/is-binary-path/index.d.ts
09_rest_mean/node_modules/is-binary-path/index.js
09_rest_mean/node_modules/is-binary-path/license
09_rest_mean/node_modules/is-binary-path/package.json
09_rest_mean/node_modules/is-binary-path/readme.md
09_rest_mean/node_modules/is-extglob/index.js
09_rest_mean/node_modules/is-extglob/LICENSE
09_rest_mean/node_modules/is-extglob/package.json
09_rest_mean/node_modules/is-extglob/README.md
09_rest_mean/node_modules/is-glob/index.js
09_rest_mean/node_modules/is-glob/LICENSE
09_rest_mean/node_modules/is-glob/package.json
09_rest_mean/node_modules/is-glob/README.md
09_rest_mean/node_modules/is-number/index.js
09_rest_mean/node_modules/is-number/LICENSE
09_rest_mean/node_modules/is-number/package.json
09_rest_mean/node_modules/is-number/README.md
09_rest_mean/node_modules/minimatch/LICENSE
09_rest_mean/node_modules/minimatch/minimatch.js
09_rest_mean/node_modules/minimatch/package.json
09_rest_mean/node_modules/minimatch/README.md
09_rest_mean/node_modules/ms/index.js
09_rest_mean/node_modules/ms/license.md
09_rest_mean/node_modules/ms/package.json
09_rest_mean/node_modules/ms/readme.md
09_rest_mean/node_modules/nodemon/LICENSE
09_rest_mean/node_modules/nodemon/package.json
09_rest_mean/node_modules/nodemon/README.md
09_rest_mean/node_modules/nodemon/bin/nodemon.js
09_rest_mean/node_modules/nodemon/bin/windows-kill.exe
09_rest_mean/node_modules/nodemon/doc/cli/authors.txt
09_rest_mean/node_modules/nodemon/doc/cli/config.txt
09_rest_mean/node_modules/nodemon/doc/cli/help.txt
09_rest_mean/node_modules/nodemon/doc/cli/logo.txt
09_rest_mean/node_modules/nodemon/doc/cli/options.txt
09_rest_mean/node_modules/nodemon/doc/cli/topics.txt
09_rest_mean/node_modules/nodemon/doc/cli/usage.txt
09_rest_mean/node_modules/nodemon/doc/cli/whoami.txt
09_rest_mean/node_modules/nodemon/lib/index.js
09_rest_mean/node_modules/nodemon/lib/nodemon.js
09_rest_mean/node_modules/nodemon/lib/spawn.js
09_rest_mean/node_modules/nodemon/lib/version.js
09_rest_mean/node_modules/nodemon/lib/cli/index.js
09_rest_mean/node_modules/nodemon/lib/cli/parse.js
09_rest_mean/node_modules/nodemon/lib/config/command.js
09_rest_mean/node_modules/nodemon/lib/config/defaults.js
09_rest_mean/node_modules/nodemon/lib/config/exec.js
09_rest_mean/node_modules/nodemon/lib/config/index.js
09_rest_mean/node_modules/nodemon/lib/config/load.js
09_rest_mean/node_modules/nodemon/lib/help/index.js
09_rest_mean/node_modules/nodemon/lib/monitor/index.js
09_rest_mean/node_modules/nodemon/lib/monitor/match.js
09_rest_mean/node_modules/nodemon/lib/monitor/run.js
09_rest_mean/node_modules/nodemon/lib/monitor/signals.js
09_rest_mean/node_modules/nodemon/lib/monitor/watch.js
09_rest_mean/node_modules/nodemon/lib/rules/add.js
09_rest_mean/node_modules/nodemon/lib/rules/index.js
09_rest_mean/node_modules/nodemon/lib/rules/parse.js
09_rest_mean/node_modules/nodemon/lib/utils/bus.js
09_rest_mean/node_modules/nodemon/lib/utils/clone.js
09_rest_mean/node_modules/nodemon/lib/utils/colour.js
09_rest_mean/node_modules/nodemon/lib/utils/index.js
09_rest_mean/node_modules/nodemon/lib/utils/log.js
09_rest_mean/node_modules/nodemon/lib/utils/merge.js
09_rest_mean/node_modules/nopt/.npmignore
09_rest_mean/node_modules/nopt/LICENSE
09_rest_mean/node_modules/nopt/package.json
09_rest_mean/node_modules/nopt/README.md
09_rest_mean/node_modules/nopt/bin/nopt.js
09_rest_mean/node_modules/nopt/examples/my-program.js
09_rest_mean/node_modules/nopt/lib/nopt.js
09_rest_mean/node_modules/normalize-path/index.js
09_rest_mean/node_modules/normalize-path/LICENSE
09_rest_mean/node_modules/normalize-path/package.json
09_rest_mean/node_modules/normalize-path/README.md
09_rest_mean/node_modules/picomatch/CHANGELOG.md
09_rest_mean/node_modules/picomatch/index.js
09_rest_mean/node_modules/picomatch/LICENSE
09_rest_mean/node_modules/picomatch/package.json
09_rest_mean/node_modules/picomatch/README.md
09_rest_mean/node_modules/picomatch/lib/constants.js
09_rest_mean/node_modules/picomatch/lib/parse.js
09_rest_mean/node_modules/picomatch/lib/picomatch.js
09_rest_mean/node_modules/picomatch/lib/scan.js
09_rest_mean/node_modules/picomatch/lib/utils.js
09_rest_mean/node_modules/pstree.remy/.travis.yml
09_rest_mean/node_modules/pstree.remy/LICENSE
09_rest_mean/node_modules/pstree.remy/package.json
09_rest_mean/node_modules/pstree.remy/README.md
09_rest_mean/node_modules/pstree.remy/lib/index.js
09_rest_mean/node_modules/pstree.remy/lib/tree.js
09_rest_mean/node_modules/pstree.remy/lib/utils.js
09_rest_mean/node_modules/pstree.remy/tests/index.test.js
09_rest_mean/node_modules/pstree.remy/tests/fixtures/index.js
09_rest_mean/node_modules/pstree.remy/tests/fixtures/out1
09_rest_mean/node_modules/pstree.remy/tests/fixtures/out2
09_rest_mean/node_modules/readdirp/index.d.ts
09_rest_mean/node_modules/readdirp/index.js
09_rest_mean/node_modules/readdirp/LICENSE
09_rest_mean/node_modules/readdirp/package.json
09_rest_mean/node_modules/readdirp/README.md
09_rest_mean/node_modules/semver/CHANGELOG.md
09_rest_mean/node_modules/semver/LICENSE
09_rest_mean/node_modules/semver/package.json
09_rest_mean/node_modules/semver/range.bnf
09_rest_mean/node_modules/semver/README.md
09_rest_mean/node_modules/semver/semver.js
09_rest_mean/node_modules/semver/bin/semver
09_rest_mean/node_modules/simple-update-notifier/LICENSE
09_rest_mean/node_modules/simple-update-notifier/package.json
09_rest_mean/node_modules/simple-update-notifier/README.md
09_rest_mean/node_modules/simple-update-notifier/build/index.d.ts
09_rest_mean/node_modules/simple-update-notifier/build/index.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/.bin/semver
09_rest_mean/node_modules/simple-update-notifier/node_modules/.bin/semver.cmd
09_rest_mean/node_modules/simple-update-notifier/node_modules/.bin/semver.ps1
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/CHANGELOG.md
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/index.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/LICENSE
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/package.json
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/range.bnf
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/README.md
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/bin/semver.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/classes/comparator.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/classes/index.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/classes/range.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/classes/semver.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/clean.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/cmp.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/coerce.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/compare-build.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/compare-loose.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/compare.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/diff.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/eq.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/gt.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/gte.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/inc.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/lt.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/lte.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/major.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/minor.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/neq.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/parse.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/patch.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/prerelease.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/rcompare.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/rsort.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/satisfies.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/sort.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/functions/valid.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/internal/constants.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/internal/debug.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/internal/identifiers.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/internal/re.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/ranges/gtr.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/ranges/intersects.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/ranges/ltr.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/ranges/max-satisfying.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/ranges/min-satisfying.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/ranges/min-version.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/ranges/outside.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/ranges/to-comparators.js
09_rest_mean/node_modules/simple-update-notifier/node_modules/semver/ranges/valid.js
09_rest_mean/node_modules/simple-update-notifier/src/borderedText.ts
09_rest_mean/node_modules/simple-update-notifier/src/cache.spec.ts
09_rest_mean/node_modules/simple-update-notifier/src/cache.ts
09_rest_mean/node_modules/simple-update-notifier/src/getDistVersion.spec.ts
09_rest_mean/node_modules/simple-update-notifier/src/getDistVersion.ts
09_rest_mean/node_modules/simple-update-notifier/src/hasNewVersion.spec.ts
09_rest_mean/node_modules/simple-update-notifier/src/hasNewVersion.ts
09_rest_mean/node_modules/simple-update-notifier/src/index.spec.ts
09_rest_mean/node_modules/simple-update-notifier/src/index.ts
09_rest_mean/node_modules/simple-update-notifier/src/isNpmOrYarn.ts
09_rest_mean/node_modules/simple-update-notifier/src/types.ts
09_rest_mean/node_modules/supports-color/browser.js
09_rest_mean/node_modules/supports-color/index.js
09_rest_mean/node_modules/supports-color/license
09_rest_mean/node_modules/supports-color/package.json
09_rest_mean/node_modules/supports-color/readme.md
09_rest_mean/node_modules/to-regex-range/index.js
09_rest_mean/node_modules/to-regex-range/LICENSE
09_rest_mean/node_modules/to-regex-range/package.json
09_rest_mean/node_modules/to-regex-range/README.md
09_rest_mean/node_modules/touch/index.js
09_rest_mean/node_modules/touch/LICENSE
09_rest_mean/node_modules/touch/package.json
09_rest_mean/node_modules/touch/README.md
09_rest_mean/node_modules/touch/bin/nodetouch.js
09_rest_mean/node_modules/undefsafe/.jscsrc
09_rest_mean/node_modules/undefsafe/.jshintrc
09_rest_mean/node_modules/undefsafe/.travis.yml
09_rest_mean/node_modules/undefsafe/example.js
09_rest_mean/node_modules/undefsafe/LICENSE
09_rest_mean/node_modules/undefsafe/package.json
09_rest_mean/node_modules/undefsafe/README.md
09_rest_mean/node_modules/undefsafe/.github/workflows/release.yml
09_rest_mean/node_modules/undefsafe/lib/undefsafe.js
09_rest_mean/.env
