<h2>Slice pipes</h2>
<hr />
<p>Fruits {{ fruits }}</p>
<div class="container">
	<p>Fruit OL</p>
	<ol>
		<li *ngFor="let fruit of fruits">{{ fruit }}</li>
	</ol>
</div>
<div class="container">
	<p>Fruit OL</p>
	<ul>
		<li *ngFor="let fruit of fruits">{{ fruit }}</li>
	</ul>
</div>

<div class="container">
	<p>Slice:3</p>
	<ul>
		<li *ngFor="let fruit of fruits | slice: 3">{{ fruit }}</li>
	</ul>
</div>

<div class="container">
	<p>Slice: 1:3</p>
	<ul>
		<li *ngFor="let fruit of fruits | slice:1:3">{{ fruit }}</li>
	</ul>
</div>

<div class="container">
	<p>Letters: {{letters}}</p>
	<p>Letters Slice 0:6: {{ letters|slice:0:6 }}</p>
	<p>{{letters}}[0:4]: '{{letters | slice:0:4}}'
</div>
