<div class="container">
	<div class="row">
		<div *ngFor="let project of projectsData" class="row col-12 col-md-4">
			<div class="card m-2 mx-3" style="width: 18rem">
				<img
					[src]="project.img"
					class="card-img-top p-2"
					[alt]="project.name"
				/>
				<div class="card-body">
					<h5 class="card-title">{{ project.name }}</h5>
					<hr>
					<p class="card-text">{{ project.description }}</p>
					<div>
						<a
							target="_blank"
							[href]="project.url"
							class="btn btn-warning w-100"
							>Open app</a
						>
					</div>
					<div class="mt-2">
						<a
							class="btn btn-success w-100"
							[routerLink]="'info/' + getURI(project.name)"
							>App details</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
