<div class="row container">
	<form (ngSubmit)="login()" class="col s12" [formGroup]="loginForm">
		<div class="row">
			<div class="col-s12">
				<h2>Login</h2>
				<hr />
			</div>
			<div class="input-field col s12">
				<input formControlName="eMail" id="eMail" type="eMail" class="validate"/>
				<label for="eMail">Email</label>
				<span
					class="helper-text"
					data-error="wrong"
					data-success="right"
				>
					email@example.com
				</span>
			</div>

			<div class="input-field col s12">
				<input formControlName="password" id="password" type="password" class="validate" placeholder=""/>
				<label for="password">Password</label>
				<span
					class="helper-text"
					data-error="wrong"
					data-success="right"
				>
					password must be at least 6 characters
				</span>
			</div>
			<div class="input-field col s12">
				<button  class="waves-effect waves-light btn">Login</button>
			</div>
			<div class="input-field col s12">
				<a routerLink="/auth/register" class="">Or create account</a>
			</div>
		</div>
	</form>
</div>
