<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="col-s12">
				<h2>Register</h2>
				<hr />
			</div>
			<div class="input-field col s12">
				<input id="userName" type="text" class="validate" />
				<label for="userName">UserName</label>
				<span
					class="helper-text"
					data-error="wrong"
					data-success="right"
				>
					userName must be at least 6 characters
				</span>
			</div>
			<div class="input-field col s12">
				<input id="eMail" type="email" class="validate" />
				<label for="eMail">Email</label>
				<span
					class="helper-text"
					data-error="wrong"
					data-success="right"
				></span>
			</div>
			<div class="input-field col s12">
				<input id="password" type="password" class="validate" />
				<label for="password">Password</label>
				<span
					class="helper-text"
					data-error="wrong"
					data-success="right"
				>
					password must be at least 6 characters
				</span>
			</div>
			<div class="input-field col s12">
				<input id="password2" type="password" class="validate" />
				<label for="password2">Confirm password</label>
				<span
					class="helper-text"
					data-error="wrong"
					data-success="right"
				>
					password must be at least 6 characters
				</span>
			</div>
			<div class="input-field col s12">
				<button class="waves-effect waves-light btn">Register</button>
			</div>
			<div class="input-field col s12">
				<a routerLink="/auth/login" class="">Or login</a>
			</div>
		</div>
	</form>
</div>
